:root {
    /* Color Variables */
    --color-900: #1F314F; /* Dark Blue */
    --color-500: #68778D; /* Medium Blue */
    --color-300: #D5E1EF; /* Light Blue */
    --color-100: #FFFFFF; /* White */

    /* Font Sizes and Line Heights */
    --fs-large: 1.375rem;
    --fw-large:700;
    --lh-large: 120%;
    --ls-large: 0px;

    --fs-small: 0.9375rem;
    --fw-small:400;
    --lh-small: 140%;
    --ls-small: 0.0125rem;

    /* Spacing Variables */
    --space-500: 2.5rem;
    --space-300: 1.5rem;
    --space-200: 1rem;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Reset basic body styling */
body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-300);
    line-height: 1.5;
}

main{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}
/* Card Styling */
.card {
    max-width: 20rem;
    background-color: var(--color-100);
    border-radius: 1.25rem;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
    text-align: center;
    padding: var(--space-200);
}

/* QR Code Image Styling */
img {
    display: block;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 0.625rem;
}

/* Text Block Styling */
.card__text{
    padding: var(--space-300) var(--space-200);
}
.card__text h3 {
    font-size: var(--fs-large);
    font-weight: var(--fw-large);
    line-height: var(--lh-large);
    letter-spacing: var(--ls-large);
    color: var(--color-900);
    margin-bottom: var(--space-200);
}

.card__text p {
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    line-height: var(--lh-small);
    letter-spacing: var(--ls-small);
    color: var(--color-500);
}

.attribution{
    color: var(--color-900);
    text-align: center;
    padding: var(--space-200);
}
.attribution a{
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    color: #785fd3;
    text-decoration: none;
}
